@page
@model Shop.Pages_Products.PriceModel

@{

  ViewData["Title"] = "Proizvodi na akciji";
}

<h1>Proizvodi na akciji</h1>

<p>
  <a asp-page="Create">Izradi Novi</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Product[0].Title)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Product[0].Description)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Product[0].Price)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Product[0].Quantity)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Product[0].OnSale)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Product[0].SalePrice)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.Product)

    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.OnSale)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.SalePrice)
        </td>
        <td>
          <a asp-page="./Edit" asp-route-id="@item.Id">Promjeni</a> |
          <a asp-page="./Details" asp-route-id="@item.Id">Detalji</a> |
          <a asp-page="./Delete" asp-route-id="@item.Id">Izbriši</a>
        </td>
      </tr>

    }
  </tbody>
</table>
